*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(./img/wall.png);
    width: 100%;
    height: 150px;
}
.edu-tas-beginner {
font-family: "Edu TAS Beginner", cursive;
}
.titolo{
    font-size: 100px;
    text-align: center;
}
.body{
    background-image: url(./img/cork.png);
    width: 100%;
    height: 100%;
}
.container-2{
    display: flex;
flex-wrap: wrap;
gap: 20px;
padding-top: 30px;
height: 100%;
justify-content: center;
}

.card{
    background-color: white;
    width: 25%;
    height: 47%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    margin-bottom: 20px;
}
.immagine{
    height: 65%;
    width: 80%;
    margin-top: 30px;
}
.pin{
    position: absolute;
    top: -10px;
    margin-left: 10px;
}
p{
    margin-top: 10px;
    font-family: "Sometype Mono", monospace;
    color: gray;
}
h2{
    margin-top: 5px;
    font-family: "Sometype Mono", monospace;
}