*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(./img/wall.png);
    width: 100%;
    height: 150px;
}
.edu-tas-beginner {
font-family: "Edu TAS Beginner", cursive;
}
.titolo{
    font-size: 100px;
    text-align: center;
}
.body{
    background-image: url(./img/cork.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.container-2{
    display: flex;
flex-wrap: wrap;
gap: 20px;
padding-top: 30px;
min-height: 100vh;
justify-content: center;
}

.card{
    background-color: white;
    width: 25%;
    height: 47%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    margin-bottom: 20px;
    transition:
    width 1s,
    height 1s,
    background-color 2s,
    rotate 1s;
}
.immagine{
    height: 65%;
    width: 80%;
    margin-top: 30px;
}
.puntina{
    position: absolute;
    top: -10px;
    margin-left: 10px;
}
p{
    margin-top: 10px;
    font-family: "Sometype Mono", monospace;
    color: gray;
}
h2{
    margin-top: 5px;
    font-family: "Sometype Mono", monospace;
}
@media (max-width:768px) {
    .card{
        width: 42%;
    }
    
}
@media(max-width:425px){
    .card{
        width: 80%;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .titolo{
        font-size: 77px;
    }
}
@media (max-width:320px){
    .card{
        width: 80%;
    }
    .titolo{
        font-size: 50px;
    }
}
.card:hover{
    cursor: pointer;
    rotate: 50deg;

}
